$font-family-body: 'Libre Baskerville', Times, serif
$font-family-headings: $font-family-body
$font-family-sans: 'Inter UI', Helvetica, sans-serif
$font-family-mono: 'Fira Code', monospace

$font-size-mega: 72px
$font-size-kilo: 48px
$font-size-hecto: 36px
$font-size-deca: 32px
$font-size-base: 26px
$font-size-deci: 21px
$font-size-centi: 16px
$font-size-milli: 12px

$line-height-mega: 72px
$line-height-kilo: 64px
$line-height-hecto: 56px
$line-height-deca: 48px
$line-height-base: 32px
$line-height-deci: 24px
$line-height-centi: 20px
$line-height-milli: 16px
