.section-problem
  display: flex
  flex-direction: column-reverse
  align-items: center
  position: relative
  +media-mediumup
    flex-direction: row
    &::after
      content: ''
      width: 35%
      position: absolute
      right: 0
      top: 0
      bottom: 0
      display: block
      z-index: -1
      background: repeating-linear-gradient(-45deg, transparent, transparent 3rem, $color-ofd-red 3rem, $color-ofd-red 8rem)
